---
layout: "default"
title: "Age Verification"
---
Technology and political policy to restrict content to specific groups of people.

## KOSA/COPPA
- The House has [advanced KOSA and COPPA](https://www.theverge.com/2024/9/18/24248117/kosa-coppa-house-energy-commerce-committee-passage-amendments).

## Other Legislation

* [Elizabeth Nolan Brown of Reason warns that the GUARD Act, which aims to ban AI companions for minors, could usher in widespread online ID checks and compromise user privacy.](https://www.instapaper.com/read/2008825754)
* [System76 founder Carl Richell is lobbying against Colorado's age-gating bill SB26-051, warning that forcing operating systems to track user ages threatens open-source Linux development.](https://www.instapaper.com/read/2011606448)
* [Phillip Torrone on Adafruit highlights Colorado's proposed SB26-051 bill, which mandates operating systems to generate an 'age bracket signal' for apps, shifting age verification toward invasive algorithmic profiling.](https://www.instapaper.com/read/1983462944)
* [Couch Nish's claim that Australia's under-16 social media ban has been entirely positive was debunked by a Community Note revealing that 61% of restricted teens still access their accounts.](https://x.com/CouchNish/status/2066436091901870497)


<!--stackedit_data:
eyJoaXN0b3J5IjpbLTEwNTMwODUxOTFdfQ==
-->
